<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
    <title>Eat da Burger!</title>
    <!-- Tab Image -->
    <link rel="icon" href="/assets/img/burger.jpg">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  
  </head>
  <body>
 <form action="diner/update/:id" method="POST" class="form-vertical"> 
<div class="row ">
  <ul>
  {{#each diners}}
     <li class="form-control">
      Type: {{id}}
      Name: {{name}}
      email: {{email}}
    food type: <select>
    {{#select type}}
      <option value=" BBQ">BBQ</option>
        <option value="Chinese">Chinese</option>
        <option value="Italian">Italian</option>
        <option value="Seafood">Seafood</option>
        <option value="Steak">Steak</option>
    {{/select}}
    </select>

    max price: <select>
    {{#select max_price}}
        <option value="1">Cheap</option>
        <option value="2">Moderate</option>
        <option value="3">Expensive</option>
        <option value="4">I got a Raise</option>
    {{/select}}
    </select>
  
     <button type="submit" class="btn btn-default">Update</button>
       <button type="submit" class="btn btn-default">Delete</button></li>
   
  {{/each}}
</ul>
 </form>
<br><br>

      <!-- Input New Burgers Form -->
      <form action="diner/create" method="POST" class="form-horizontal"> 
 

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Name:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="name" placeholder="Enter email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-4"> 
      <input type="email" class="form-control" name="email" placeholder="Enter password">
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-2" for="price">Price Level:</label>
    <div class="col-sm-2">
       <select class="form-control col-sm-2" name="price">
        <option value=1>Cheap</option>
        <option value=2>Moderate</option>
        <option value=3>Expensive</option>
        <option value=4>I got a Raise</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="type">Food Type:</label>
    <div class="col-sm-2">
       <select class="form-control col-sm-2" name="type">
        <option>BBQ</option>
        <option>Chinese</option>
        <option>Italian</option>
        <option>Seafood</option>
        <option>Steak</option>
      </select>
    </div>
  </div>
  

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>